soapWS/WSDL/soapBookShelfService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SoapBookShelfServiceService" targetNamespace="com.e2.ws.service.bookShelf" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="com.e2.ws.service.bookShelf" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="com.e2.ws.service.bookShelf" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="com.e2.ws.service.bookShelf" version="1.0">

  <xs:element name="Book" type="tns:bookVO"/>

  <xs:element name="getBook" type="tns:getBook"/>

  <xs:element name="getBookResponse" type="tns:getBookResponse"/>

  <xs:element name="insertBook" type="tns:insertBook"/>

  <xs:element name="insertBookResponse" type="tns:insertBookResponse"/>

  <xs:complexType name="insertBook">
    <xs:sequence>
      <xs:element minOccurs="0" name="bookVO" type="tns:bookVO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bookVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="author" type="xs:string"/>
      <xs:element name="bookId" type="xs:long"/>
      <xs:element minOccurs="0" name="bookName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="insertBookResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getBook">
    <xs:sequence>
      <xs:element minOccurs="0" name="title" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getBookResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:bookVO"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="insertBook">
    <wsdl:part name="parameters" element="tns:insertBook">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBook">
    <wsdl:part name="parameters" element="tns:getBook">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBookResponse">
    <wsdl:part name="parameters" element="tns:getBookResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertBookResponse">
    <wsdl:part name="parameters" element="tns:insertBookResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="bookShelf">
    <wsdl:operation name="insertBook">
      <wsdl:input name="insertBook" message="tns:insertBook">
    </wsdl:input>
      <wsdl:output name="insertBookResponse" message="tns:insertBookResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBook">
      <wsdl:input name="getBook" message="tns:getBook">
    </wsdl:input>
      <wsdl:output name="getBookResponse" message="tns:getBookResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SoapBookShelfServiceServiceSoapBinding" type="tns:bookShelf">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getBook">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBook">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBookResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertBook">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="insertBook">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="insertBookResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SoapBookShelfServiceService">
    <wsdl:port name="bookShelfPort" binding="tns:SoapBookShelfServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/bookShelfPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
